<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>CEP</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>UF</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th style="width: 60px">Ativo</th>
            <th style="width: 140px">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {loop="$clients"}
        <tr>
            <td>{$value.name}</td>
            <td>{$value.document}</td>
            <td>{$value.zip_code}</td>
            <td>{$value.address}</td />
            <td>{$value.neighborhood}</td />
            <td>{$value.city}</td />
            <td>{$value.state}</td />
            <td>{$value.phone}</td />
            <td>{$value.email}</td />
            <td>{$value.active}</td />

            <td>
                <a href="#" class="btn btn-primary btn-xs">
                    <i class="fa fa-edit"></i> Editar</a>
                <a href="#" class="btn btn-danger btn-xs">
                    <i class="fa fa-trash"></i>Excluir</a>
            </td>
        </tr>
        {/loop}
    </tbody>
</table>