<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/allblacks-ecommerce/resources/img/allblacks-logo.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Lista de Desejos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Meu Carrinho</a>
            </li>
        </ul>

        <a href="/allblacks-ecommerce/client/logout" class="btn btn-outline-info my-2 my-sm-0">Sair</a>

    </div>
</nav>
<div class="container">
    <div class="card mt-5 client-info-card">
        <div class="card-header">
            Informações do torcedor
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Nome</dt>
                <dd class="col-sm-9">{$client.name}</dd>
                <dt class="col-sm-3">CPF</dt>
                <dd class="col-sm-9">{$client.document}</dd>
                <dt class="col-sm-3">CEP</dt>
                <dd class="col-sm-9">{$client.zip_code}</dd>
                <dt class="col-sm-3">Endereço</dt>
                <dd class="col-sm-9">{$client.address}</dd>
                <dt class="col-sm-3">Bairro</dt>
                <dd class="col-sm-9">{$client.neighborhood}</dd>
                <dt class="col-sm-3">Cidade</dt>
                <dd class="col-sm-9">{$client.city}</dd>
                <dt class="col-sm-3">Estado</dt>
                <dd class="col-sm-9">{$client.state}</dd>
                <dt class="col-sm-3">Telefone</dt>
                <dd class="col-sm-9">{$client.phone}</dd>
                <dt class="col-sm-3">E-mail</dt>
                <dd class="col-sm-9">{$client.email}</dd>
            </dl>
            <div class="float-right">
                <a href="/allblacks-ecommerce/client/{$client.idclient}/delete" class="btn btn-danger">Deletar Conta</a>
                <a href="/allblacks-ecommerce/client/{$client.idclient}/edit" class="btn btn-info">Editar
                    Informações</a>
            </div>

        </div>
    </div>
</div>