<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>CEP</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>UF</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th style="width: 60px">Ativo</th>
            <th style="width: 140px">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {loop="$clients"}
        <tr>
            <td>{$value.name}</td>
            <td>{$value.document}</td>
            <td>{$value.zip_code}</td>
            <td>{$value.address}</td />
            <td>{$value.neighborhood}</td />
            <td>{$value.city}</td />
            <td>{$value.state}</td />
            <td>{$value.phone}</td />
            <td>{$value.email}</td />
            <td>{$value.active}</td />

            <td>
                <a href="/allblacks-ecommerce/admin/clients/{$value.idclient}/edit" class="btn btn-primary btn-xs">
                    <i class="fa fa-edit"></i> Editar</a>
                <a href="/allblacks-ecommerce/admin/clients/{$value.idclient}/delete" class="btn btn-danger btn-xs">
                    <i class="fa fa-trash"></i>Excluir</a>
            </td>
        </tr>
        {/loop}
    </tbody>
</table>

<form action="/allblacks-ecommerce/admin/clients/report" method="post" enctype="multipart/form-data">
    <input type="file" name="spreadsheet">
    <input type="submit" class="btn btn-primary" value="Enviar Planilha" name="send">
</form>

<form action="/allblacks-ecommerce/admin/clients/reportxml" method="post" enctype="multipart/form-data">
    <input type="file" name="xml">
    <input type="submit" class="btn btn-primary" value="Enviar XML" name="send">
</form>