<script src="/allblacks-ecommerce/resources/js/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="/allblacks-ecommerce/resources/js/bootstrap/bootstrap.min.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="/allblacks-ecommerce/resources/js/jquery.maskedinput.min.js"></script>
<script src="/allblacks-ecommerce/resources/js/scripts.js"></script>
</body>

</html>