{include="admin-header"}
<div class="container">
    <div class="row">
        <div class="card mt-5 client-info-card">
            <div class="card-header">
                Atualizar Informações
            </div>
            <div class="card-body">

                <form action="" method="post">
                    <input type="hidden" name="idclient" value="{$client.idclient}">

                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" name="name" placeholder="Nome Completo"
                            value="{$client.name}">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" value="{$client.email}">
                        <small class="form-text text-muted">Nós nunca compartilhamos o seu e-mail</small>
                    </div>
                    <div class="form-group">
                        <label for="document">CPF</label>
                        <input type="text" class="form-control" name="document" value="{$client.document}">
                    </div>
                    <div class="form-group">
                        <label for="zipcode">CEP</label>
                        <input type="text" class="form-control" name="zipcode" value="{$client.zip_code}">
                    </div>
                    <div class="form-group">
                        <label for="address">Endereço</label>
                        <input type="text" class="form-control" name="address" value="{$client.address}">
                    </div>
                    <div class="form-group">
                        <label for="neighborhood">Bairro</label>
                        <input type="text" class="form-control" name="neighborhood" value="{$client.neighborhood}">
                    </div>
                    <div class="form-group">
                        <label for="city">cidade</label>
                        <input type="text" class="form-control" name="city" value="{$client.city}">
                    </div>
                    <div class="form-group">
                        <label for="state">UF</label>
                        <input type="text" class="form-control" name="state" value="{$client.state}">
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefone</label>
                        <input type="text" class="form-control" name="phone" value="{$client.phone}">
                    </div>

                    <input type="hidden" name="active" value="{$client.active}">

                    <div class="float-right">
                        <a href="/allblacks-ecommerce/client/{$client.idclient}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-info">Atualizar</button>
                    </div>

                </form>



            </div>
        </div>



    </div>
</div>