{include="admin-header"}
<div class="container">
    <div class="card mt-5 client-info-card">
        <div class="card-header">
            Enviar mala direta
        </div>
        <div class="card-body">

            <form action="" method="post">
                <div class="form-group">
                    <label for="name">Assunto</label>
                    <input type="text" class="form-control" name="subject">
                </div>
                <div class="form-group">
                    <label for="name">Título do banner</label>
                    <input type="text" class="form-control" name="bannerTitle">
                </div>
                <div class="form-group">
                    <label for="email">Título do corpo da mensagem</label>
                    <input type="text" class="form-control" name="bodyTitle">
                </div>

                <div class="form-group">
                    <label for="email">Corpo da mensagem</label>
                    <textarea class="form-control" name="message"></textarea>
                </div>

                <div class="form-group">
                    <label for="email">Post scriptum</label>
                    <input type="text" class="form-control" name="postScriptum">
                </div>

                <div class="form-group">
                    <label for="email">Assinatura</label>
                    <input type="text" class="form-control" name="signature">
                </div>

                <div class="float-right">
                    <a href="/allblacks-ecommerce/admin/clients" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-info">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>